@import 'styles/colors.scss';


.container {
    display:flex;
    
}

@mixin buttonPlain($color, $color-hover:"white", $border-color, $background-color-pri, $background-color-sec, $border, $border-radius) {
    border-radius: $border-radius;
    background-color: $background-color-pri;
    color: $color;
    width: 90px;
    text-align: center;
    padding: 10px;
    border: $border;
    border-color: $border-color;
    min-width: 80px;
    

    &:hover{
        background-color: $background-color-sec;
        cursor: pointer;
        color: $color-hover
    }

}

.button-squared-blue {
    @include buttonPlain($background-color-pri: $blue-primary, $background-color-sec: $blue-secondary, $border-color:white, $color:white, $border:none, $border-radius: 3px) 
}

.button-squared-red {
    @include buttonPlain($background-color-pri: $red-primary, $background-color-sec: $red-secondary, $border-color:white, $color:white, $border:none, $border-radius: 3px) 
}
 .button-squared-green {
    @include buttonPlain($background-color-pri: $green-primary, $background-color-sec: $green-secondary, $border-color:white, $color:white, $border:none, $border-radius: 3px) 
 }

 .button-squared-blue-sec {
    @include buttonPlain($background-color-pri: white, $background-color-sec: $blue-primary, $border-color: $blue-primary, $color:$blue-primary,  $color-hover:white, $border:solid, $border-radius: 3px) 
}

.button-squared-red-sec{
    @include buttonPlain($background-color-pri: white, $background-color-sec: $red-primary, $border-color:$red-primary, $color:$red-primary, $color-hover:white, $border:solid, $border-radius: 3px)
}

.button-squared-green-sec {
    @include buttonPlain($background-color-pri: white, $background-color-sec: $green-primary, $border-color:$green-primary, $color:$green-primary,  $color-hover:white,  $border:solid , $border-radius: 3px) 
 }


.button-rounded-blue {
    @include buttonPlain($background-color-pri: $blue-primary, $background-color-sec: $blue-secondary, $border-color:white, $color:white, $border:none, $border-radius: 20px) 
}

.button-rounded-red {
    @include buttonPlain($background-color-pri: $red-primary, $background-color-sec: $red-secondary, $border-color:white, $color:white, $border:none, $border-radius: 20px) 
}
 .button-rounded-green {
    @include buttonPlain($background-color-pri: $green-primary, $background-color-sec: $green-secondary, $border-color:white, $color:white, $border:none, $border-radius: 20px) 
 }

 .button-rounded-blue-sec {
    @include buttonPlain($background-color-pri: white, $background-color-sec: $blue-primary, $border-color: $blue-primary, $color:$blue-primary,  $color-hover:white, $border:solid, $border-radius: 20px) 
}

.button-rounded-red-sec {
    @include buttonPlain($background-color-pri: white, $background-color-sec: $red-primary, $border-color:$red-primary, $color:$red-primary, $color-hover:white, $border:solid, $border-radius: 20px)
}

 .button-rounded-green-sec {
    @include buttonPlain($background-color-pri: white, $background-color-sec: $green-primary, $border-color:$green-primary, $color:$green-primary,  $color-hover:white,  $border:solid, $border-radius: 20px) 
 }

 

 




