@import 'styles/colors.scss';


img {
    width: 250px;
    padding: 30px
    
}

.card {
 
    display: grid;
    width: fit-content;
    justify-content: center;
    margin: 10px;
    border-radius: 10px;
    background-color: lightgoldenrodyellow;
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 350px;
       
    }
}

#title-card {
    margin: 0
}

#paragraph-card {
    margin: 3px
}